h1 Delete #{address.addressType} Address for #{address.name}
- if (error)
    div.error
        #{error}
form(method="post")
    div.address
        h2 #{address.addressType}
        table
            tr
                th street
                td #{address.streetAndNumber}
            tr
                th zip code
                td #{address.zipCode}
            tr
                th city
                td #{address.city}
    p.buttons
        input(type="submit", value="Delete")
