h2 Contacts

table
    - each contact in contacts
        tr
            td #{contact.identifier}
            td #{contact.name}
            td
                a(href="/contact/#{contact.identifier}") details | 
                a(href="/contact/#{contact.identifier}/edit") edit | 
                a(href="/contact/#{contact.identifier}/delete") delete


